<section class="section banner">
    <div [@bannerTrigger] class="container">
        <div class="section-box-banner">
            <div class="content">
                <div>
                    <h1>Fly with Ease and Comfort – Book Your Journey Today!</h1>
                </div>
                <div class='banner-title'>
                    <h2>Star</h2>
                    <h3>Airlines</h3>
                </div>
                <div class='banner-description'>
                    Welcome to Star Airlines, where your travel experience takes flight! Discover seamless booking, unbeatable deals, and exceptional service tailored to your needs. Whether you're embarking on a business trip or a leisurely adventure, our wide range of destinations and flexible scheduling ensure that your journey is as enjoyable as your destination. Trust us to make every mile of your journey memorable. Book now and let your dreams soar with Star
                </div>
            </div>
            <div class="div-btn-banner">
                <a class="main-btn" routerLink="/find-flight">
                    Find Flight
                </a>
            </div>
        </div>
    </div>
</section>
<video autoplay muted loop class="video-section">
    <source src="../../../../assets/video/background.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>