@import "./../../../../variables.scss";

.available {
    color: rgb(13, 61, 13);
}

.occupied {
    color: rgb(111, 5, 5);
}
.near-fire-exit {
    color: rgb(0, 0, 0);
}
.booked {
    color: rgb(251, 0, 0);
}

.locked {
    color: rgb(125, 124, 124);
}

.cursor-prevent {
    cursor: not-allowed !important;
}

.seating-plan {
//    width: 30vw;
}

.plain-img {
    // background-image: url('../../../../assets//images//image.png');
}
.seat-layout {
    display: flex;
    justify-content: center;
    // align-items: center;

    margin-top: 100px;
    // background-image: url('../../../../assets//images//image.png');
    height: 100vh;
    // width: 450px;
}

:host {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 5px;
    float: left;
    border: 2px solid black;
    box-sizing: border-box;
}

article div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
}

article input {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]~.available.first-class {
    background-color: rgb(2, 100, 164);
    border-radius: 1px;
}
input[type=checkbox]~.available.business-class {
    background-color: rgb(245, 142, 51);
    border-radius: 1px;
}
input[type=checkbox]~.available.economy-class {
    background-color: rgb(3, 173, 145);
    border-radius: 1px;
}
input[type=checkbox]~.available.near-fire-exit {
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
}
input[type=checkbox]~.occupied {
    background-color: rgb(111, 5, 5) !important;
}
input[type=checkbox]~.booked {
    background-color: rgb(251, 0, 0) !important;
}

input[type=checkbox]~.locked {
    background-color: gray !important;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    margin-top: 15px;

    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    color: #000;
}



.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.closebtn:hover {
    color: #000;
}
.selected-seats {
    height: 50%;
}