
@import "./../../../../variables.scss";

.signup{
    min-height: 100vh;
    
    .container{
        display: table;
        height: 100vh;

        .section-box-signup{
            display: table-cell;
            vertical-align: middle;

            .content{
                margin-top: 98px;
            }

            .login{
                color: #fff;
              }
              .login a{
                color: #d39e00;
                font-weight: 600;
                text-decoration: none;
              }
        }

       
    }    
}



